body {
  background-color: #fffff;
  color: #000000;
  font-size: 16px;
  line-height: 2em;
  font-family: Arial, sans-serif;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 100%;
}

figcaption {
  font-size: .9em;
  font-style: italic;
  text align: normal;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5em;
  line-height: 4em;
}

h3 {
  font-size: 110%;
  line-height: 1.5em;
  padding-bottom: 20px;
  font-style: italic;
  text-align: left;
}

.author {
  line-height: 4em;
}

p {
  font-size: 110%;
  padding-bottom: 20px;
  text-align: left;
  line-height: 1.3em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
}

.container {
  margin: 0 auto;
  width: 50%;
}
